body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(100, 100, 100);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    color: black;
    text-align: left;
    border: none;
    background-color: rgb(120, 120, 120);
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: black;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: gray;
}

button:active {
    background-color: rgb(2, 2, 2);
}

.imp {
    background-color: rgb(64, 128, 255)
}

.imp:hover {
    background-color: rgb(32, 64, 128);
}

.imp:active {
    background-color: rgb(16, 32, 64);
}